@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.preg
{
    font-family: 'Roboto', sans-serif;
    h2 
    {
        font-weight: bolder;
        color:black;

    }
}